<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Scriptkid_Productupdater>
            <version>0.4.2</version>
        </Scriptkid_Productupdater>
    </modules>

    <global>
      <helpers>
          <productupdater>
              <class>Scriptkid_Productupdater_Helper</class>
          </productupdater>
      </helpers>
        <models>
            <productupdater>
                <class>Scriptkid_Productupdater_Model</class>
            </productupdater>
        </models>
        <blocks>
          <productupdater>
              <class>Scriptkid_Productupdater_Block</class>
          </productupdater>
        </blocks>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <productupdater after="Mage_Adminhtml">Scriptkid_Productupdater_Adminhtml</productupdater>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productupdater>
                    <file>scriptkid/productupdater.xml</file>
                </productupdater>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <productupdater>
            <general>
                <run_only_once>1</run_only_once>
                <delete_backups_after>0</delete_backups_after>
            </general>
        </productupdater>
    </default>
    <crontab>
        <jobs>
            <productupdater>
                <schedule>
                    <cron_expr>*/60 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>productupdater/observer::cronjobTrigger</model>
                </run>
            </productupdater>
        </jobs>
    </crontab>
</config>
